{% extends getPartial('page-design') %}
{% import "Ceres::PageDesign.Macros.LayoutContainer" as LayoutContainer %}

{% block PartialHead %}
    {% embed getPartial('page-metadata') %}
        {% block title trans("Ceres::Template.basket") %}
    {% endembed %}
{% endblock %}

{% block PageBody %}

    {{ component( "Ceres::Basket.Components.BasketList" ) }}
    {{ component( "Ceres::Basket.Components.Coupon" ) }}
    {{ component( "Ceres::Basket.Components.BasketTotals" ) }}
    {{ component( "Ceres::Basket.Components.BasketShippingCountrySelect" ) }}

    <div v-cloak class="page-content basket container-max" itemtype="http://schema.org/Product http://schema.org/Thing http://schema.org/Offer http://schema.org/PriceSpecification">

        <p>TEST</p>

        <script type="x/template" id="vue-sfc-test">
            <div>
                <p>asdasdasdasdasd</p>
            </div>
        </script>


        <sfc tpl="#vue-sfc-test"></sfc>

    </div>
{% endblock %}
