.cmp-order-item{
	position: relative;
	margin-bottom: 1em;

	.item-main{
		display: table;
	}

	.item-image{
		display: table-cell;
		vertical-align: top;

		@include img-contain();
	}

	.item-details{
		display: table-cell;
		vertical-align: top;
		padding-left: .5rem;
	}

	& .item-bundle {
		width: 300px;
		font-weight: 700;
		font-size: 80%;
	}

	.item-name{
	    display: -webkit-box;
        text-overflow: ellipsis;
        max-height: 3em;
        -webkit-line-clamp: 2;
        overflow: hidden;
        -webkit-box-orient: vertical;
        font-weight: 700;
        margin-bottom: .25rem;

	    &:after{
			content: "…";
			display: inline-block;
			height: 50%;
			position:absolute;
			right: .25em;
			bottom: 0;
			background-color: white;
	    }
	}

	.item-total-price{
		font-size: 1.5em;
	    font-weight: 700;
	    text-align: right;
	}

	.item-remove{
		position: absolute;
	    bottom: 1em;
	    right: 0;
	    line-height: 1;
	    color: $gray-lighter;
	    cursor: pointer;
		transition: color 250ms;

	    &:hover{
	    	color: $danger;
	    }
	}

	@include media-breakpoint-up(sm){

		.item-unit-price,
		.item-total-price{
			width: auto!important;
			text-align: right;
		}

	}

	.item-word-break {
		word-wrap: break-word;

		@include media-breakpoint-down(xs){
			word-break: break-all;
		}
	}

}

.payment-link-style {
	color: $primary !important;
	cursor: pointer!important;
	padding: 0 15px!important;
	span {
		text-decoration: underline!important;
	}
}


/* Compatibility for IE */
html.ie .confirmation-order-list .cmp-order-item {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	flex-basis: 84px;

	.item-image {
		width: 84px;
		height: auto;
	}
	.item-name {
		max-height: none;
	}
	.item-details {
		margin-top: 0;
		display: block;
		flex-grow: 2;

		.row {
			strong:first-of-type {
				min-width: 90px;
				width: auto;
			}
			span,
			strong:nth-of-type(2) {
				width: auto;
			}
		}
	}
	@include media-breakpoint-down(sm) {
		.item-details {
			-ms-flex-order: 2;
			order: 2;
			-ms-flex: 1;
			flex: 1;
		}
	}
}
