{% import "Ceres::Widgets.Helper.WidgetHelper" as WidgetHelper %}
{% import "Ceres::Widgets.Helper.TwigBuilder" as Twig %}

{% set customClass     = widget.settings.customClass.mobile %}
{% set appearance      = widget.settings.appearance.mobile | default("none") %}
{% set spacingSettings = widget.settings.spacing %}
{% set inlinePadding   = WidgetHelper.getInlineSpacings(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set spacingPadding  = WidgetHelper.getSpacingClasses(spacingSettings, spacingSettings.customPadding.mobile, "") %}
{% set inlineMargin    = WidgetHelper.getInlineSpacings(spacingSettings, "", spacingSettings.customMargin.mobile) %}
{% set spacingMargin   = WidgetHelper.getSpacingClasses(spacingSettings, "", spacingSettings.customMargin.mobile) %}

{% set source = widget.settings.source.mobile %}
{% set maxLevel = widget.settings.maxLevel.mobile %}
{% set numberOfColumns = widget.settings.numberOfColumns.mobile %}
{% set numberOfRows = widget.settings.numberOfRows.mobile %}

<div class="widget widget-step-by-step-navigation widget-{{ appearance }}{% if customClass | length > 0 %} {{ customClass }}{% endif %}{% if spacingMargin | length > 0 %} {{ spacingMargin }}{% endif %}" {% if inlineMargin | length > 0 %} style="{{ inlineMargin }}"{% endif %}>
    <div class="widget-inner row">
        <div class="col-md-3">
            <div class="nav-item border">
                <a href="#" title="">
                    <div class="prop-xs-1-1">
                        <img src="http://master.plentymarkets.com/documents/image/i10/106-buerostuhl-gruen.jpg">
                    </div>
                    <div class="nav-text align-center p-2"><span class="m-x-auto">Moderner Bürostuhl »Merrick« grün</span></div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="nav-item border">
                <a href="#" title="">
                    <div class="prop-xs-1-1">
                        <img src="http://master.plentymarkets.com/documents/image/i11/110-Bu--rostuhl-Manhattan.jpg">
                    </div>
                    <div class="nav-text align-center p-2"><span class="m-x-auto">Bürostuhl Manhattan</span></div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="nav-item border">
                <a href="#" title="">
                    <div class="prop-xs-1-1">
                        <img src="http://master.plentymarkets.com/documents/image/i12/121-Schreibtischstuhl-YoungProfessional.jpg">
                    </div>
                    <div class="nav-text align-center p-2"><span class="m-x-auto">Schreibtischstuhl YoungProfessional</span></div>
                </a>
            </div>
        </div>
        <div class="col-md-3">
            <div class="nav-item border">
                <a href="#" title="">
                    <div class="prop-xs-1-1">
                        <img src="http://master.plentymarkets.com/documents/image/i10/105-buerostuhl-schwarz.jpg">
                    </div>
                    <div class="nav-text align-center p-2"><span class="m-x-auto">Design Chefsessel »Brookhaven« Leder schwarz</span></div></div>
                </a>
            </div>  
        </div>
    </div>
</div>
